@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}
@foreach (var item in Model.Summary)
{
<div class="docs-section">
    <h4 class="docs-header">@Html.DisplayFor(modelItem => item.Title)</h4>
    <div class="row">@Html.DisplayFor(modelItem => item.ReleaseDate)</div>
    <p>@Html.DisplayFor(modelItem => item.Content)</p>
</div>
}

<div class="翻页"></div>
