@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}

<div class="docs-section">
    <h4 class="docs-header">文章1</h4>
    <p>文章摘要</p>
    <p>文章摘要</p>
</div>
<div class="docs-section">
    <h4 class="docs-header">文章2</h4>
    <p>文章摘要</p>
    <p>文章摘要</p>
</div>
<div class="docs-section">
    <h4 class="docs-header">文章2</h4>
    <p>文章摘要</p>
    <p>文章摘要</p>
</div>
<div class="翻页"></div>
